<!-- menu app -->
<mat-toolbar color="primary">
  <span>Drag app</span>
</mat-toolbar>

<br>
<br>
<h1 class="center blue">Arrastra al lado correcto.</h1>

<br>
<br>
<!-- cards app -->
<div class="containerAll">


  <div class="container">
    <h1>Europe</h1>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="europe"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div  class="alert--info cdk-drop-list-dragging" *ngFor="let eur of europe" cdkDrag>{{eur}}</div>
    </div>
  </div>

  <div class="container">
    <h1>Latin</h1>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="latin"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="alert--info cdk-drop-list-dragging" *ngFor="let lat of latin" cdkDrag>{{lat}}</div>
    </div>
  </div>
</div>
