<!-- menu app -->
<mat-toolbar color="primary">
  <span>Drag app</span>
</mat-toolbar>

<br>
<br>
<h1 class="center blue">Arrastra al lado correcto.</h1>

<br>
<br>
<mat-progress-bar mode="indeterminate" *ngIf="progress" color="primary"></mat-progress-bar>

<!-- cards app -->
<div class="containerAll">


  <div class="container">
    <h1>Europe</h1>

    <div
      cdkDropList
      #eur="cdkDropList"
      [cdkDropListData]="europe"
      [cdkDropListConnectedTo]="[lats]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div  class="alert--info cdk-drop-list-dragging" *ngFor="let eur of europe" cdkDrag>{{eur}}</div>
    </div>
  </div>

  <div class="container">
    <h1>Latin</h1>

    <div
      cdkDropList
      #lats="cdkDropList"
      [cdkDropListData]="latin"
      [cdkDropListConnectedTo]="[eur]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="alert--info cdk-drop-list-dragging" *ngFor="let lat of latin" cdkDrag>{{lat}}</div>
    </div>
  </div>
</div>
